//MAIN.SCSS
@import "variables";
@import "mixins";
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &:after,
    &:before {
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }
}
html {
    font-size: 16px;
    font-family: $font-sans-serif;
    /* default for whole page */
    line-height: 1.6;
}
h1,
h2,
h3,
h4 {
    font-family: $font-serif;
    /* serif for the headings */
}

ul {
    list-style: none;
}


/***********************************************
                SPECIAL
***********************************************/

.clearfix:after {
    display: table;
    clear: both;
    content: "";
}


/***********************************************
                LAYOUT
***********************************************/

.bg-header {
    background-color: $white;
    background-color: $lightblue;
    color: $darkgrey;
    border-bottom: 1rem solid $medblue;
    border-top: 1rem solid $darkblue;
    position: relative;
    &:before,
    &:after {
        content: "";
        position: absolute;
        bottom: -1rem;
        width: 30%;
        height: 1rem;
        background-color: $darkblue;
    }
}

.bg-header:before {
    left: 0;
}

.bg-header:after {
    right: 0;
}

.bg-focal {
    background-color: $lightbrown;
    color: $darkbrown;
}

.bg-content1 {
    background-color: $white;
    color: $darkgrey;
}

.bg-content2 {
    background-color: $lightblue;
    color: $darkblue;
}

.bg-footer {
    background-color: $white;
    color: $lightgrey;
}

header {
    width: 400px;
    /* default */
    margin: 0 auto;
    position: relative;
    & h1 {
    width: 100%;
    padding: 0 2rem;
}
    & nav {
    width: 100%;
        &>ul li {
    width: 100%;
    float: none;
}
}
}

section.focal {
    width: 400px;
    /* default */
    margin: 0 auto;
}

section.content1,
section.content2 {
    padding: 2rem 0;
}

.row {
    clear: both;
}

.col-2 {
    width: 50%;
    float: left;
    padding-bottom: 2rem;
    border-left: 1px solid $darkblue;
    margin-bottom: 2rem;
}

footer {
    padding: 2rem 0;
    & .col-2:first-child {
    border-left: 0;
}
    & p:last-child {}
}

/***********************************************
                NAVIGATION
***********************************************/

header { & h1 {
    color: $lightbrown;
    letter-spacing: 0.1rem;
    & i.fa-lg {
    display: block;
    width: 25%;
    float: left;
    font-size: 7rem;
    line-height: 12.7936rem;
    color: $lightbrown;
        & ~ span {
    float: right;
    width: 75%;
    font-size: 3.998rem;
    /**
    2 lines of 3.998 * 1.6 = 12.7936
    **/
    padding-left: 1rem;
    text-align: right;
}}}

 & nav {
    padding: 2rem 0;
    clear: both;
    & >ul>li>a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: $darkgrey;
    font-size: 1.414rem;
    letter-spacing: 0.25rem;
    border: 1px solid $lightgrey;
    border-bottom: none;
    padding: 1.0rem 2rem;
    line-height: 1;
    background-color: $white;
    &:hover {
        font-weight: 700;
        color: $lightbrown;
    }}}}
/***********************************************
                CONTENT
***********************************************/

.focal {& h2 {
    font-size: 1.999rem;
    line-height: 1.2;
    padding: 2rem 2rem 1rem 2rem;
    
    }
& .author {
    font-size: 1rem;
    padding: 0.2rem 2rem 2rem;
}}

.content1 {& h3 {
    font-size: 1.999rem;
    padding: 0.2rem 2rem 2rem;
    & i {
    vertical-align: middle;
    padding-right: 2rem;
}
}
    & p {
    font-size: 1.414rem;
    padding: 0.5rem 2rem 2rem;
}
}
.content2{
    font-size: 1.999rem;
    & h3 {
    padding: 1rem 2rem 0.5rem;
    }& h4 {
    padding: 1rem 2rem 0rem;
}
    & li {
    padding: 0.5rem 2rem;
    font-size: 1.414rem;
}
    & p {
    font-size: 1.414rem;
    padding: 0.5rem 2rem 2rem;
}
}
/***********************************************
                FOOTER
***********************************************/
footer {
    padding: 0.5rem 2rem;
    & h4 {
    font-size: 1.414rem;
    color: $lightbrown;
            padding: 0.5rem 2rem;
    }
    & p {
    font-size: 1rem;
    color: $darkgrey;
            padding: 0.5rem 2rem;
    }
    & .fa-circle {
    color: $darkgrey;
    }
    }

footer h4[lang=de] {
    display: block;
}
footer h4[lang=en],
footer h4[lang=ar],
footer h4[lang=ru] {
    display: none;
}
/***********************************************
                MEDIA QUERIES
***********************************************/
@import "queries";